/*
!/.github
!/.gitignore
!/.env-dist
!/docker-compose.yaml

!/frontend/build
!/frontend/config
!/frontend/deploy
!/frontend/src
!/frontend/static
!/frontend/Dockerfile
!/frontend/index.html
!/frontend/package.json
!/frontend/package-lock.json
!/frontend/package-lock.json
!/frontend/.babelrc
!/frontend/.editorconfig

!/backend
!/storage
!/torgate

/k8s/helm/*
/k8s/helm/.*
!/k8s/helm/config
!/k8s/helm/Chart.yaml
!/k8s/helm/helmwave.yml
!/k8s/helm/values.yaml
!/k8s/helm/.env-dist
!/k8s/helm/.helmignore
!/k8s/helm/.keys-dist.yaml

