/*
!/.github
!/.gitignore
!/.env-dist
!/docker-compose.yaml
!/frontend/build
!/frontend/config
!/frontend/deploy
!/frontend/src
!/frontend/static
!/frontend/Dockerfile
!/frontend/index.html
!/frontend/package.json
!/frontend/package-lock.json
!/frontend/package-lock.json
!/frontend/.babelrc
!/frontend/.editorconfig
!/backend
!/storage
!/torgate
!/k8s/helm
!/k8s
/k8s/.*
!/k8s/helmwave.yml
!/k8s/README.md
!/k8s/encrypted_secrets.yaml
!/k8s/pub-sealed-secrets.pem
!/k8s/.env-dist
!/k8s/examples
